extends layout

block content
  h2= movie.title
  img(src=`https://image.tmdb.org/t/p/w500${movie.poster_path}`, alt=movie.title)
  p Release Date: #{movie.release_date}
  p Overview: #{movie.overview}
  a(href=`/recommendations/${movie.id}`) View Recommendations
